:root {
  --background: #ffffff;
  --foreground: #171717;
  --layout-max-width: 800px;
}

/* TODO: 다크모드 스타일 정의 */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  font-size: 16px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  max-width: var(--layout-max-width);
  margin: 0 auto;
  padding: 32px 16px 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* TODO: 다크모드 스타일 정의 */
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

@media screen and (max-width: 1024px) {
  html {
    /* 태블릿 등 중간 크기 화면에서는 1rem = 14px */
    font-size: 14px;
  }
}
